.card {
  border: none !important;
  border-radius: 20px !important;
}

body {
  background-color: #f8f9fa !important;
}

.bg-primary {
  background-color: #0d6efd !important;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #dee2e6 !important;
}

.list-group-item:last-child {
  border-bottom: none !important;
}

.text-dark {
  color: #212529 !important;
}